/* Style général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background: linear-gradient(90deg, #4A55A2 60%, #A0BFE0 91%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

/* Button khdar b shadow */
.green-button {
    background-color: #4A55A2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.green-button:hover {
    background-color: #4A55A2;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Text khdar */
.green-text {
    color: #4A55A2;
}

